
@{
    ViewBag.Title = "About";
}

<section>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6 order-1">
                <div class="p-5">

                    <h3 class="display-4 text-center " style="color:white">For those about to rock the Night...</h3>
                    <b>
                        <p class="display-6 text-center " style="color:white;font-size:small;font-family:'Comic Sans MS'">
                            Wohooo! The perfect destination for people who love 'Night Life'. It provides you with all the details about restaurants, drive-in's, petrol bunks which are open 'After 12'.
                            Night life has become a fashion in recent times!
                            Go check out this amazing website and have amazing night life!
                        </p>
                    </b>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />


<h3 class="display-6" style="color:white">TEAM VSAP</h3>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 ">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/pics/Sarath.jpeg" alt="">
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-4 ">
                <div class="p-5">
                    <h2 class="display-5" style="color:white">Sarath</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 order-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/pics/Praveen.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5">
                    <h2 class="display-6" style="color:white">Praveen</h2>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 ">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/pics/Akhil.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="p-5">
                    <h2 class="display-6" style="color:white">Akhil</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 order-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/pics/Vishnu.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5">
                    <h2 class="display-6" style="color:white">Vishnu</h2>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Image background and text-->
<div class="container wrapper">

</div>

